@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}
.home-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
}

.home-container h1{
    margin-bottom: 14px;
    color: white;
    font-size: 44px;
    padding-top: 94px;
    
}

.home-container span{
    color: white;
    margin-bottom: 19px;
}

.links{
    display: flex;
    max-width: 600px;
    width: 80%;
    text-align: center;
    flex-direction: column;
}

.link-area{
    background-color: white;
    width: 100%;
    margin-bottom: 18px;
    padding: 8px 0;
    user-select: none;
    border-radius: 10px;
    transition: 0.5s ease;
}
.link-area:hover{
    background-color: white;
    transform: scale(1.05);
}
.link-text{
    font-size: 18px;
    line-height: 150%;
    color: black;

}

footer{
    display: flex;
    justify-content: center;
    gap: 14px;
}
@media screen and (max-width: 550px){
    .home-container h1{
        font-size: 40px;
        text-align: center;
    }
    .link-text{
        font-size: 14px;
    }
}

@media screen and (max-width: 360px){
    .home-container h1{
        font-size: 24px;
        text-align: center;
    }
    .link-text{
        font-size: 14px;
    }
}